<link href="{{ asset('app/css/main_menu.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('app/css/tables.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('app/css/general.css') }}" type="text/css" rel="stylesheet" />
<div id='cssmenu'>
<ul>
   <li class='has-sub'><a href='index.html'><span>Cocheras</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Administrar</span></a>
            <ul>
               <li><a href='/buscar/unidad/cochera'><span>Buscar</span></a></li>
               <li class='last'><a href='/nuevo/unidad/cochera'><span>Nueva</span></a></li>
            </ul>
         </li>
         <li ><a href='#'><span>Autorizaciones</span></a></li>
         <li class='has-sub'><a href='#'><span>Alquiler / Reserva</span></a>
            <ul>
               <li><a href='/buscar/disponibilidades/cochera'><span>Disponibilidades</span></a></li>
               <li class='last'><a href='/buscar/alquileres/cochera'><span>Ver Realizados</span></a></li>
            </ul>
         </li>
         <li class='last'><a href='#'><span>Grilla</span></a></li>
      </ul>
   </li>
   <li><a href='#'><span>Departamentos</span></a></li>
   <li class='has-sub'><a href='#'><span>Clientes</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Propietarios</span></a>
            <ul>
               <li><a href='/buscar/propietario'><span>Buscar</span></a></li>
               <li class='last'><a href='/nuevo/propietario'><span>Nuevo</span></a></li>
            </ul>
         </li>
         <li class='last'><a href='#'><span>Otros</span></a></li>
      </ul>
   </li>
   <li><a href='#'><span>Movimientos</span></a></li>
   <li><a href='#'><span>Usuarios</span></a></li>
   <li class='has-sub'><a href='#'><span>Otros</span></a>
      <ul>
         <li><a href='/nuevo/edificio'><span>Edificios</span></a></li>
         <li class='last'><a href='#'><span>Carpetas</span></a></li>
      </ul>
   </li>
      
   <li class='last'><a href='#'><span>Salir</span></a></li>
</ul>
</div>